@import url('https://fonts.googleapis.com/css?family=Poppins|Indie+Flower|Fascinate+Inline|Lobster|Oswald');

body {
	background-color: #f4f4f4;
}

/* navbar menu */
#nav-menu {
	width: 100%;
	margin-top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	margin-top: -40px;
}
#nav-menu .navbar-nav ul {
	background-color: transparent;
	background: transparent;
	border-color: transparent
}
#nav-menu a {
	background-color: transparent;
	/* background: transparent; */
	border-color: transparent;
	font-family: Oswald;
	font-size: 20px;
	color: #F89406;
	padding: 0px 0px 0px 0px;
}

.jumbotron {
	background-image: url("../img/pexels-photo-38125.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	height: 600px;
	border: 0;
	margin-bottom: 0px;	
	padding-left: 20px;
	padding-right: 20px;
}
.jumbotron h1 {
	font-family: Poppins;
	font-size: 68px;
	color: #F89406;
	margin-top: 300px;
}
.jumbotron p {
	font-size: 35px;
	color: #ffffff;
	font-family: Poppins;
}
.text-red {
	color: #ff0000;
}

/* main content */
#page-content .row {
	margin: 20px 0px 20px 0px;
}
#page-content #second-row  {
	margin-top: 410px;
	padding-bottom: 0px;
}
#page-content #about {
	background-color: #f4decb;
	height: 400px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	margin-left: -5px;
	
}
#page-content #playlist {
	background-color: #f8eee7;
	height: 720px;
	margin-left: 10px;
	margin-right: -10px;
}
#page-content #contact {
	background-color: #94618E;
	height: 310px;
	padding-top: 10px;
}
#page-content h2 {
	font-family: Oswald;
	font-size: 48px;
	color: #F89406;
}
#page-content p {
	font-family: Poppins;
	font-size: 28px;
}
#page-content hr {
	color: #F89406;
}
/* footer */
#footer {
	background-color: #f4decb;
}